.stars::before{
	content:"\f005 \f005 \f005 \f005 \f005";
	font-family: 'FontAwesome';
	color: #ccc;
}

.inner-stars::before {
	content:"\f005 \f005 \f005 \f005 \f005";
	font-family: 'FontAwesome';
	color: #f8ce0b;
}

.stars {
	position: relative;
	display: inline-block;
}

.inner-stars {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}